.character-card{
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.character-card img{
    width: 100%;
    margin-bottom: 20px;
}
.character-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.more{
    color: blue;
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block;
}